.row {
  padding: var(--s-2);
  margin: 0 calc(var(--s-2)* -1);
  border-top: 1px solid var(--color-ui);
}

.row:last-child {
  padding-bottom: 0;
}

.share {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--s-1);
}

.share button {
  appearance: none;
  border: none;
  color: var(--color-tx-2);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}